# Python / Flask
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
backend/data/*.csv
!backend/data/.gitkeep

# Node / React / Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/
dist-ssr/
*.local

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db
